html {
  font-size: 62.5%;
}

img {
  width: 300px;
  height: 300px;
}

ul {
  padding: 2rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

ul li {
  padding: 1rem;
  list-style: circle;
}
